from google colab import files #匯入套件

import pandas as pd

upload = files.upload() #開啟上傳介面並載入

data = pd.read_csv("剛剛上傳的檔案名稱")

In [2]:
from google.colab import drive
drive.mount('/content/gdrive/', force_remount=True)

import os
os.chdir("/content/gdrive/MyDrive/") # 切換目錄
#!ls -l "/content/gdrive/My Drive/112_2_LATIA/week3_030524/" # 列出目錄下的檔案
!ls -l "/content/gdrive/MyDrive/41257050O_112-2-LATIA"

Mounted at /content/gdrive/
total 501
-rw------- 1 root root  91931 Mar  5 07:01  112.csv
-rw------- 1 root root  91931 Feb 27 06:55  112_student.csv
-rw------- 1 root root 309092 Mar  4 12:37 'week2_0227 (3).ipynb'
-rw------- 1 root root  19156 Mar 12 06:34  week3_demo.ipynb

In [4]:
import pandas as pd

#csv_file = './112_student.csv'
csv_file = '/content/gdrive/MyDrive/41257050O_112-2-LATIA/112.csv'

#columns = [
#    "學年度","學校代碼","學校名稱","日間∕進修別","等級別","總計","男生計",
#    "女生計","一年級男","一年級女","二年級男","二年級女","三年級男","三年級女",
#    "四年級男","四年級女","五年級男","五年級女","六年級男","六年級女",
#    "七年級男","七年級女","延修生男","延修生女","縣市名稱","體系別"
#]
df = pd.read_csv(csv_file)

# 讀取csv檔案

print(df.head())

#查看資料欄位資訊
print(df.info())

#查看資料的統計學資訊描述
#print(df.describe(include='all'))

   學年度  學校代碼    學校名稱 日間∕進修別   等級別    總計   男生計   女生計  一年級男  一年級女  ...  五年級男  \
0  112     1  國立政治大學    D 日  D 博士   921   517   404    86    69  ...    63
1  112     1  國立政治大學    D 日  M 碩士  4231  1835  2396   598   809  ...     2
2  112     1  國立政治大學    N 職  M 碩士  1903   938   965   262   304  ...    77
3  112     1  國立政治大學    D 日  B 學士  9763  3928  5835   906  1349  ...     0
4  112     2  國立清華大學    D 日  D 博士  1636  1131   505   206    93  ...   140

   五年級女  六年級男  六年級女  七年級男  七年級女  延修生男  延修生女    縣市名稱   體系別
0    52    68    37    66    50     0     0  30 臺北市  1 一般
1     1     1     0     0     0     0     0  30 臺北市  1 一般
2    57     0     0     0     0     0     0  30 臺北市  1 一般
3     0     0     0     0     0   316   499  30 臺北市  1 一般
4    60   110    50   115    56     0     0  18 新竹市  1 一般

[5 rows x 26 columns]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 764 entries, 0 to 763
Data columns (total 26 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   學年度     764 non-null    int64
 1   學校代碼    764 non-null    int64
 2   學校名稱    764 non-null    object
 3   日間∕進修別  764 non-null    object
 4   等級別     764 non-null    object
 5   總計      764 non-null    int64
 6   男生計     764 non-null    int64
 7   女生計     764 non-null    int64
 8   一年級男    764 non-null    int64
 9   一年級女    764 non-null    int64
 10  二年級男    764 non-null    int64
 11  二年級女    764 non-null    int64
 12  三年級男    764 non-null    int64
 13  三年級女    764 non-null    int64
 14  四年級男    764 non-null    int64
 15  四年級女    764 non-null    int64
 16  五年級男    764 non-null    int64
 17  五年級女    764 non-null    int64
 18  六年級男    764 non-null    int64
 19  六年級女    764 non-null    int64
 20  七年級男    764 non-null    int64
 21  七年級女    764 non-null    int64
 22  延修生男    764 non-null    int64
 23  延修生女    764 non-null    int64
 24  縣市名稱    764 non-null    object
 25  體系別     764 non-null    object
dtypes: int64(21), object(5)
memory usage: 155.3+ KB
None

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

# 1.哪間大專院校有最多的學士生

step1: 取出想要查看的欄位，並印出此資料集共有多少筆紀錄 (len)

step2: 篩選等級別為"B 學士"的DataFrame，並印出有招生學士學制的學校數量

step3: 依據"總計"從大到小排序並印出結果 (sort_values, by, ascending)

In [8]:
# 請在"填空"處，輸入所需要的指令或參數

df1 = df[['學校名稱','等級別','總計']] # 取出想要觀看的欄位
print("本資料集共有" ,df1, "筆紀錄")

df1_1 = df1[df1['等級別'] == 'B 學士']
print("有招生學士學制的學校數量為",df1_1,"\n")
df1_1_sorted = df1_1.sort_values(by='總計', ascending=False)
print("112學年度在籍的學士生最多人數之學校為", df1_1_sorted.head(1)['學校名稱'].values)

本資料集共有            學校名稱   等級別    總計
0        國立政治大學  D 博士   921
1        國立政治大學  M 碩士  4231
2        國立政治大學  M 碩士  1903
3        國立政治大學  B 學士  9763
4        國立清華大學  D 博士  1636
..          ...   ...   ...
759  崇仁醫護管理專科學校  5 五專  3017
760      臺北市立大學  D 博士   208
761      臺北市立大學  M 碩士  1330
762      臺北市立大學  M 碩士  1248
763      臺北市立大學  B 學士  5275

[764 rows x 3 columns] 筆紀錄
有招生學士學制的學校數量為          學校名稱   等級別     總計
3      國立政治大學  B 學士   9763
7      國立清華大學  B 學士   9274
12     國立臺灣大學  B 學士  17323
16   國立臺灣師範大學  B 學士   8503
20     國立成功大學  B 學士  12159
..        ...   ...    ...
702  中信金融管理學院  B 學士    799
733     馬偕醫學院  B 學士    749
738    法鼓文理學院  B 學士     51
739    法鼓文理學院  B 學士     19
763    臺北市立大學  B 學士   5275

[97 rows x 3 columns]

112學年度在籍的學士生最多人數之學校為 ['淡江大學']

# 2. 國立？所；私立？所

step1: 建立空字串 (lsit=[])

step2: 建立for迴圈，配合if else條件，取出國立與私立

step3: 新增「公私立」column在DataFrame中 (df['公私立'])

step4: 篩選掉重複的學校代碼資料 (drop_duplicates)

step5: 計算公立與私立學校的筆數，並印出結果 (value_counts)

In [6]:
type_list = [] # 建立空字串

for i in df['學校名稱']:
    if ('國立' in i) or ('市立' in i):
        type_list.append('公立')
    else:
        type_list.append('私立')

df['公私立'] = type_list # 將 Dataframe 新增「公私立」column

df2 = df.drop_duplicates('學校代碼')
count = df2['公私立'].value_counts()



print(df2)
print(f"本資料集共收集了 {len(df2)} 所學校，其中公立：{count['公立']} 所；私立：{count['私立']} 所。")

     學年度  學校代碼        學校名稱 日間∕進修別   等級別    總計   男生計   女生計  一年級男  一年級女  ...  \
0    112     1      國立政治大學    D 日  D 博士   921   517   404    86    69  ...
4    112     2      國立清華大學    D 日  D 博士  1636  1131   505   206    93  ...
9    112     3      國立臺灣大學    D 日  D 博士  3654  2454  1200   431   215  ...
13   112     4    國立臺灣師範大學    D 日  D 博士  1337   630   707   106   127  ...
17   112     5      國立成功大學    D 日  D 博士  1888  1228   660   219   136  ...
..   ...   ...         ...    ...   ...   ...   ...   ...   ...   ...  ...
753  112  1289  育英醫護管理專科學校    D 日  5 五專  1833   200  1633    39   343  ...
754  112  1291  聖母醫護管理專科學校    D 日  2 二專     2     2     0     0     0  ...
757  112  1292  新生醫護管理專科學校    N 修  2 二專    79    12    67     7    37  ...
759  112  1293  崇仁醫護管理專科學校    D 日  5 五專  3017   460  2557   112   515  ...
760  112  3002      臺北市立大學    D 日  D 博士   208    94   114    17    11  ...

     五年級女  六年級男  六年級女  七年級男  七年級女  延修生男  延修生女    縣市名稱   體系別  公私立
0      52    68    37    66    50     0     0  30 臺北市  1 一般   公立
4      60   110    50   115    56     0     0  18 新竹市  1 一般   公立
9     128   179   106   312   132     0     0  30 臺北市  1 一般   公立
13     83    59    85    87    89     0     0  30 臺北市  3 師範   公立
17     84   107    57   110    48     0     0  21 臺南市  1 一般   公立
..    ...   ...   ...   ...   ...   ...   ...     ...   ...  ...
753   276     0     0     0     0    13    77  50 高雄市  2 技職   私立
754     0     0     0     0     0     2     0  02 宜蘭縣  2 技職   私立
757     0     0     0     0     0     0     1  03 桃園市  2 技職   私立
759   529     0     0     0     0    19    45  10 嘉義縣  2 技職   私立
760    14     6     9    16    25     0     0  30 臺北市  1 一般   公立

[145 rows x 27 columns]
本資料集共收集了 145 所學校，其中公立：47 所；私立：98 所。

# 3. 各等級別學制共有？所

step1: 篩選掉重複的學校名稱與等級別 (drop_duplicates, subset)

step2: 計算出等級別的筆數 (value_counts)

step3: 建立等級別的字串，並找出其類別 (unique)

step4: 使用for迴圈，依序列出所有等級別學制的學校數量 (count)

In [9]:
df3 = df.drop_duplicates(subset=['學校名稱','等級別'])
count = df3['等級別'].value_counts()
degree_list = list(df['等級別'].unique())

print(f"本資料集總共收集了 {len(set(df['學校代碼']))} 所學校，各等級學制當中：")
for degree in degree_list:
    print(f"一共有{count[degree]} 所學校， 有招收{degree}。")

本資料集總共收集了 145 所學校，各等級學制當中：
一共有84 所學校， 有招收D 博士。
一共有130 所學校， 有招收M 碩士。
一共有67 所學校， 有招收B 學士。
一共有1 所學校， 有招收X 4+X。
一共有71 所學校， 有招收C 二技。
一共有66 所學校， 有招收B 四技。
一共有46 所學校， 有招收5 五專。
一共有2 所學校， 有招收5 七年。
一共有46 所學校， 有招收2 二專。
一共有1 所學校， 有招收C 二年制。

# 4. 各縣市分別有？所，位於新北市的大專院校總共有幾所

In [10]:
city_list=[]
new_taipei_list=[]
for i in df['縣市名稱']:
    city_list.append(i[3:])
df4 = df.drop_duplicates(subset=['學校代碼'])
df['縣市名'] = city_list
count = df4['縣市名'].value_counts()
city_list = df4['縣市名'].unique()
for city in city_list:
    print(f"{city}有 {count[city]} 所")


new_Taipei=df4[df4['縣市名'] == '新北市']
count1 = len(new_Taipei)
print('\n',f'在新北市的大專院校總共有{count1}所')

臺北市有 24 所
新竹市有 5 所
臺南市有 13 所
臺中市有 17 所
桃園市有 12 所
高雄市有 15 所
基隆市有 3 所
嘉義縣有 4 所
彰化縣有 4 所
新北市有 20 所
嘉義市有 2 所
花蓮縣有 4 所
南投縣有 2 所
雲林縣有 3 所
屏東縣有 5 所
臺東縣有 2 所
宜蘭縣有 3 所
苗栗縣有 3 所
澎湖縣有 1 所
金門縣有 1 所
新竹縣有 2 所

 在新北市的大專院校總共有20所

# 5. 北中南東區分別有？所

都市及區域發展統計彙編 - 國發會 https://www.ndc.gov.tw/nc_77_4402

北部區域：包括臺北市、新北市、基隆市、新竹市、桃園市、新竹縣及宜蘭縣。

中部區域：包括臺中市、苗栗縣、彰化縣、南投縣及雲林縣。

南部區域：包括高雄市、臺南市、嘉義市、嘉義縣、屏東縣及澎湖縣。

東部區域：包括花蓮縣及臺東縣。

福建省：包括金門縣與連江縣。

# 6. 各體系別分別有？所

In [ ]:
df6 = df.drop_duplicates(subset=['學校代碼'])
count=df6["體系別"].value_counts()

print(f'本資料集共收集了{len(df6)}個學校，在一般學校共有{count["1 一般"]}所學校，在技職學校共有{count["2 技職"]}所學校,在師範學校共有{count["3 師範"]}所學校。')

本資料集共收集了145個學校，在一般學校共有62所學校，在技職學校共有78所學校,在師範學校共有5所學校。

# 7. 國立/私立與男女比
請問國立大學與私立大學在學男生女生比例為何? 延修生男生女生比例為何?

# 8. 國立大學在學生男女比

 # 9. 每校平均最多與最少人的體系

# 10. 將新增的欄位寫入並儲存成新的CSV檔案，並命名為112_students_tf.csv

新增的欄位有"公私立"，"縣市名"，"區域"

In [11]:
print(df.head(2))

   學年度  學校代碼    學校名稱 日間∕進修別   等級別    總計   男生計   女生計  一年級男  一年級女  ...  六年級男  \
0  112     1  國立政治大學    D 日  D 博士   921   517   404    86    69  ...    68
1  112     1  國立政治大學    D 日  M 碩士  4231  1835  2396   598   809  ...     1

   六年級女  七年級男  七年級女  延修生男  延修生女    縣市名稱   體系別  公私立  縣市名
0    37    66    50     0     0  30 臺北市  1 一般   公立  臺北市
1     0     0     0     0     0  30 臺北市  1 一般   公立  臺北市

[2 rows x 28 columns]